<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">

    <title>{{ title or "" }}</title>
</head>

<body>
    <header class="header"></header>
    {% block content %}{% endblock content %}
    <footer class="footer">

    </footer>

    <script src="{{ url_for('static', filename='js/jquerry.main.js')}}"></script>
</body>

</html>