<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  {% for cssLink in cssImports %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + cssLink + '.css') }}" />
  {% endfor %}

  <script src="{{ url_for('static', filename='js/jquerry.main.js') }}" type="module"></script>

  <title>{{ title or "" }}</title>
</head>

<body>
  <div id="main">
    <div class="content">
      <div class="container">
        <div class="header">
          <div class="left">
            <img class="header-title-img" src="{{ url_for('static', filename='assets/image/header_title.png') }}" />
            <span style="top: 50px">ONLINE</span>
          </div>
          <div class="right">
            <div class="btn">UPLOAD</div>
          </div>
        </div>
        <hr />
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="footer"></div>
    {% for jsScript in jsImports %}
    <script src="{{ url_for('static', filename='js/' + jsScript + '.js') }}"></script>
    {% endfor %}
  </div>
</body>

</html>